In [ ]:
!pip list | grep pandas

geopandas                             1.1.1
pandas                                2.2.2
pandas-datareader                     0.10.0
pandas-gbq                            0.29.2
pandas-stubs                          2.2.2.240909
sklearn-pandas                        2.2.0

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# b4it nchof ga3 rows
pd.set_option('display.max_rows', None)

In [ ]:
df = pd.read_csv('./salary_data.csv')
df.head()

,id,role,years_experience,degree,company_size,location,level,salary_mad
0,SAL0000,BI Engineer,8.2,PhD,Mid,Casablanca,Junior,17565.0
1,SAL0001,Product Manager,4.6,Bachelors,Mid,Fes,Junior,16229.0
2,SAL0002,Data Scientist,2.8,Bachelors,Small,Casablanca,Mid,22753.0
3,SAL0003,Data Analyst,4.5,Masters,Small,Rabat,Mid,14296.0
4,SAL0004,QA Engineer,6.7,PhD,Mid,Tangier,Intern,10191.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                200 non-null    object
 1   role              200 non-null    object
 2   years_experience  195 non-null    float64
 3   degree            200 non-null    object
 4   company_size      200 non-null    object
 5   location          200 non-null    object
 6   level             200 non-null    object
 7   salary_mad        196 non-null    float64
dtypes: float64(2), object(6)
memory usage: 12.6+ KB

In [ ]:
df.columns

Index(['id', 'role', 'years_experience', 'degree', 'company_size', 'location',
       'level', 'salary_mad'],
      dtype='object')

In [ ]:
df.shape

(200, 8)

In [ ]:
df.tail()

,id,role,years_experience,degree,company_size,location,level,salary_mad
195,SAL0195,Frontend Developer,4.9,No Degree,Mid,Rabat,Mid,20204.0
196,SAL0196,Data Scientist,2.6,Masters,Enterprise,Casablanca,Intern,9373.0
197,SAL0197,Backend Developer,1.0,Masters,Enterprise,Casablanca,Senior,43217.0
198,SAL0198,Backend Developer,4.6,Bachelors,Small,Remote,Mid,20155.0
199,SAL0199,Data Scientist,7.9,Bachelors,Enterprise,Tangier,Mid,32349.0

In [ ]:
df['role'].value_counts()

role
Data Scientist        29
Backend Developer     27
Frontend Developer    24
Product Manager       23
DevOps Engineer       19
Data Analyst          17
ML Engineer           17
Data Engineer         14
QA Engineer           14
BI Engineer           13
data scientist         2
devops engineer        1
Name: count, dtype: int64

In [ ]:
df_lower_role = df.copy()
df_lower_role['role'] = df_lower_role['role'].str.lower()
df_lower_role['role'].value_counts()

role
data scientist        31
backend developer     27
frontend developer    24
product manager       23
devops engineer       20
ml engineer           17
data analyst          17
qa engineer           14
data engineer         14
bi engineer           13
Name: count, dtype: int64

In [ ]:
df_lower_role.head(200)

,id,role,years_experience,degree,company_size,location,level,salary_mad
0,SAL0000,bi engineer,8.2,PhD,Mid,Casablanca,Junior,17565.0
1,SAL0001,product manager,4.6,Bachelors,Mid,Fes,Junior,16229.0
2,SAL0002,data scientist,2.8,Bachelors,Small,Casablanca,Mid,22753.0
3,SAL0003,data analyst,4.5,Masters,Small,Rabat,Mid,14296.0
4,SAL0004,qa engineer,6.7,PhD,Mid,Tangier,Intern,10191.0
5,SAL0005,backend developer,3.1,Bachelors,Enterprise,Marrakech,Mid,23513.0
6,SAL0006,product manager,5.6,Bachelors,Mid,Remote,Mid,25278.0
7,SAL0007,data scientist,4.0,Masters,Large,Marrakech,Junior,15317.0
8,SAL0008,data scientist,5.7,Masters,Large,Tangier,Mid,28670.0
9,SAL0009,data engineer,NaN,Masters,Mid,Tangier,Mid,22340.0
10,SAL0010,backend developer,8.1,Masters,Large,Rabat,Junior,19128.0
11,SAL0011,frontend developer,3.6,Bachelors,Enterprise,Agadir,Mid,NaN
12,SAL0012,qa engineer,4.4,No Degree,Small,Tangier,Junior,8194.0
13,SAL0013,bi engineer,3.6,Bachelors,Mid,Casablanca,Lead,35388.0
14,SAL0014,data scientist,6.8,Masters,Mid,Remote,Mid,26815.0
15,SAL0015,bi engineer,2.9,Masters,Mid,Tangier,Junior,14331.0
16,SAL0016,data scientist,0.9,PhD,Mid,Agadir,Junior,15199.0
17,SAL0017,frontend developer,0.0,Masters,Enterprise,Remote,Mid,20391.0
18,SAL0018,data engineer,1.9,PhD,Mid,Tangier,Mid,25948.0
19,SAL0019,qa engineer,8.4,Bachelors,Small,Remote,Junior,13486.0
20,SAL0020,backend developer,6.3,Bachelors,Enterprise,Tangier,Junior,17100.0
21,SAL0021,devops engineer,5.7,Bachelors,Mid,Rabat,Senior,36881.0
22,SAL0022,product manager,0.7,Bachelors,Mid,Marrakech,Mid,19535.0
23,SAL0023,data engineer,5.3,No Degree,Small,Rabat,Junior,17032.0
24,SAL0024,backend developer,5.1,Bachelors,Large,Rabat,Junior,15030.0
25,SAL0025,data analyst,8.7,Bachelors,Mid,Fes,Mid,19271.0
26,SAL0026,ml engineer,4.7,Masters,Mid,Fes,Mid,26754.0
27,SAL0027,data analyst,4.2,Bachelors,Enterprise,Remote,Mid,18676.0
28,SAL0028,product manager,1.3,Bachelors,Mid,Casablanca,Mid,25587.0
29,SAL0029,data engineer,4.3,Bachelors,Small,Rabat,Mid,23227.0
30,SAL0030,data scientist,3.7,Bachelors,Small,Casablanca,Mid,20520.0
31,SAL0031,product manager,4.3,Bachelors,Mid,Casablanca,Junior,19914.0
32,SAL0032,backend developer,3.7,Masters,Small,Marrakech,Lead,36247.0
33,SAL0033,qa engineer,1.9,Bachelors,Small,Remote,Mid,13255.0
34,sal0034,devops engineer,3.8,bachelors,mid,rabat,junior,13648.0
35,SAL0035,bi engineer,7.8,Masters,Mid,Agadir,Junior,15193.0
36,SAL0036,data analyst,4.7,Bachelors,Enterprise,Marrakech,Junior,15167.0
37,SAL0037,product manager,7.8,PhD,Large,Marrakech,Lead,59168.0
38,SAL0038,data scientist,5.2,Masters,Mid,Marrakech,Senior,41031.0
39,SAL0039,bi engineer,4.1,Masters,Mid,Remote,Mid,18023.0
40,SAL0040,backend developer,5.9,Masters,Large,Remote,Senior,39064.0
41,SAL0041,backend developer,5.4,Masters,Large,Rabat,Junior,15622.0
42,SAL0042,devops engineer,4.1,Bachelors,Small,Casablanca,Senior,34060.0
43,SAL0043,devops engineer,3.8,Bachelors,Large,Marrakech,Mid,26475.0
44,SAL0044,bi engineer,7.9,No Degree,Mid,Rabat,Junior,15890.0
45,SAL0045,devops engineer,5.7,Bachelors,Small,Fes,Lead,39632.0
46,SAL0046,qa engineer,4.5,Masters,Mid,Agadir,Mid,18427.0
47,SAL0047,data scientist,3.0,Masters,Small,Tangier,Senior,34675.0
48,SAL0048,backend developer,NaN,Bachelors,Small,Remote,Mid,24154.0
49,SAL0049,data scientist,3.7,Masters,Enterprise,Tangier,Mid,29098.0
50,SAL0050,data scientist,2.6,Masters,Small,Rabat,Intern,8097.0
51,SAL0051,qa engineer,5.4,PhD,Large,Rabat,Mid,21177.0
52,SAL0052,qa engineer,5.6,No Degree,Large,Marrakech,Junior,11814.0
53,SAL0053,product manager,7.6,Bachelors,Small,Agadir,Mid,24152.0
54,SAL0054,product manager,8.3,Masters,Small,Remote,Junior,17807.0
55,SAL0055,backend developer,3.9,Bachelors,Small,Fes,Junior,12414.0
56,SAL0056,qa engineer,6.8,Bachelors,Mid,Remote,Junior,14609.0
57,SAL0057,bi engineer,1.8,PhD,Large,Remote,Senior,34323.0
58,SAL0058,data engineer,4.5,Masters,Enterprise,Rabat,Mid,29042.0
59,SAL0059,product manager,NaN,Bachelors,Enterprise,Remote,Junior,20451.0
60,SAL0060,data analyst,3.6,Masters,Small,Rabat,Mid,15029.0
61,sal0061,data scientist,5.9,masters,mid,fes,mid,25872.0
62,SAL0062,devops engineer,4.3,Masters,Small,Fes,Junior,15401.0
63,SAL0063,backend developer,5.6,Bachelors,Large,Fes,Mid,22931.0
64,SAL0064,data analyst,6.6,Masters,Enterprise,Tangier,Mid,22541.0
65,SAL0065,product manager,3.1,Masters,Small,Marrakech,Mid,22768.0
66,SAL0066,product manager,3.4,Masters,Mid,Rabat,Mid,27359.0
67,SAL0067,frontend developer,2.1,PhD,Enterprise,Rabat,Senior,36975.0
68,SAL0068,ml engineer,4.7,Bachelors,Mid,Marrakech,Junior,14785.0
69,SAL0069,backend developer,0.2,Bachelors,Small,Marrakech,Senior,26620.0
70,SAL0070,ml engineer,2.9,PhD,Large,Marrakech,Junior,19541.0
71,SAL0071,ml engineer,3.3,No Degree,Small,Casablanca,Mid,20675.0
72,SAL0072,devops engineer,1.8,Bachelors,Large,Rabat,Junior,14266.0
73,SAL0073,data engineer,3.9,No Degree,Mid,Tangier,Junior,12025.0
74,SAL0074,bi engineer,3.9,Bachelors,Mid,Marrakech,Mid,16926.0
75,SAL0075,devops engineer,4.5,Masters,Mid,Fes,Mid,21236.0
76,SAL0076,product manager,4.1,No Degree,Small,Remote,Junior,14486.0
77,SAL0077,data scientist,6.9,Bachelors,Mid,Remote,Junior,20002.0
78,SAL0078,ml engineer,1.1,Masters,Large,Agadir,Senior,41799.0
79,SAL0079,frontend developer,7.2,Bachelors,Mid,Fes,Mid,22186.0
80,SAL0080,bi engineer,2.5,Bachelors,Small,Agadir,Junior,10832.0
81,SAL0081,data scientist,8.6,Bachelors,Small,Casablanca,Senior,37038.0
82,SAL0082,data scientist,5.5,Masters,Small,Marrakech,Senior,38178.0
83,SAL0083,devops engineer,3.0,Bachelors,Enterprise,Tangier,Senior,41854.0
84,SAL0084,frontend developer,2.1,Masters,Small,Agadir,Junior,9393.0
85,SAL0085,data scientist,2.7,No Degree,Mid,Rabat,Junior,14085.0
86,SAL0086,frontend developer,4.3,Masters,Mid,Rabat,Junior,15668.0
87,SAL0087,product manager,2.4,Masters,Mid,Remote,Intern,7747.0
88,SAL0088,frontend developer,6.6,Bachelors,Small,Fes,Mid,19569.0
89,SAL0089,backend developer,1.6,Bachelors,Small,Tangier,Junior,11838.0
90,SAL0090,data engineer,3.4,Masters,Mid,Tangier,Lead,45078.0
91,SAL0091,frontend developer,5.2,Masters,Enterprise,Marrakech,Junior,18299.0
92,SAL0092,ml engineer,4.8,Bachelors,Mid,Casablanca,Senior,40179.0
93,SAL0093,data analyst,1.5,Bachelors,Large,Marrakech,Mid,16727.0
94,SAL0094,data analyst,3.9,Bachelors,Large,Remote,Mid,19017.0
95,SAL0095,frontend developer,5.1,Masters,Large,Casablanca,Mid,23617.0
96,SAL0096,ml engineer,6.9,Bachelors,Small,Marrakech,Lead,44119.0
97,SAL0097,product manager,0.0,Bachelors,Small,Marrakech,Junior,14841.0
98,SAL0098,ml engineer,0.3,Bachelors,Mid,Tangier,Junior,14665.0
99,SAL0099,backend developer,6.6,Bachelors,Large,Casablanca,Junior,17671.0
100,SAL0100,data scientist,0.8,Bachelors,Mid,Tangier,Intern,7683.0
101,SAL0101,frontend developer,1.3,Masters,Small,Fes,Senior,23272.0
102,SAL0102,ml engineer,3.7,Masters,Large,Fes,Mid,28705.0
103,SAL0103,bi engineer,5.2,Masters,Mid,Marrakech,Senior,33368.0
104,SAL0104,ml engineer,3.5,Bachelors,Large,Fes,Mid,25277.0
105,SAL0105,product manager,2.0,Bachelors,Mid,Fes,Mid,21587.0
106,SAL0106,data analyst,5.8,Masters,Mid,Agadir,Mid,17461.0
107,SAL0107,backend developer,5.5,Bachelors,Small,Agadir,Mid,18380.0
108,SAL0108,data scientist,3.2,Bachelors,Mid,Casablanca,Mid,25399.0
109,SAL0109,product manager,4.1,Masters,Mid,Casablanca,Mid,29598.0
110,sal0110,data scientist,4.9,masters,mid,fes,junior,18968.0
111,SAL0111,product manager,4.0,Bachelors,Large,Marrakech,Senior,40043.0
112,SAL0112,frontend developer,2.2,Bachelors,Large,Rabat,Senior,31512.0
113,SAL0113,devops engineer,6.0,Bachelors,Mid,Tangier,Senior,35490.0
114,SAL0114,frontend developer,4.4,Masters,Large,Agadir,Junior,15128.0
115,SAL0115,qa engineer,4.2,Bachelors,Mid,Agadir,Mid,16411.0
116,SAL0116,qa engineer,6.6,Masters,Small,Casablanca,Mid,20804.0
117,SAL0117,data scientist,5.4,Masters,Large,Marrakech,Senior,44728.0
118,SAL0118,frontend developer,7.0,Bachelors,Mid,Casablanca,Lead,40679.0
119,SAL0119,product manager,3.3,Bachelors,Enterprise,Tangier,Intern,9696.0
120,SAL0120,devops engineer,4.2,Bachelors,Mid,Tangier,Lead,40590.0
121,SAL0121,data engineer,7.3,Bachelors,Enterprise,Rabat,Junior,19881.0
122,SAL0122,data scientist,6.1,Bachelors,Mid,Marrakech,Junior,15111.0
123,SAL0123,product manager,7.3,Bachelors,Small,Marrakech,Junior,15973.0
124,SAL0124,devops engineer,4.3,Bachelors,Small,Tangier,Mid,19133.0
125,SAL0125,data engineer,4.1,Bachelors,Small,Marrakech,Mid,20075.0
126,SAL0126,data scientist,4.1,Masters,Small,Remote,Mid,23940.0
127,SAL0127,data engineer,4.6,Bachelors,Enterprise,Agadir,Intern,10612.0
128,SAL0128,frontend developer,3.5,Bachelors,Small,Tangier,Lead,30656.0
129,SAL0129,qa engineer,4.5,Bachelors,Enterprise,Remote,Junior,14893.0
130,SAL0130,data analyst,7.2,Bachelors,Small,Agadir,Junior,13186.0
131,SAL0131,ml engineer,0.6,Bachelors,Mid,Fes,Mid,22361.0
132,SAL0132,bi engineer,7.7,Masters,Mid,Casablanca,Senior,36847.0
133,SAL0133,data engineer,3.4,PhD,Enterprise,Fes,Junior,18182.0
134,SAL0134,data scientist,3.4,Bachelors,Large,Tangier,Mid,26019.0
135,SAL0135,ml engineer,4.5,Masters,Mid,Casablanca,Senior,48008.0
136,SAL0136,product manager,5.6,Bachelors,Mid,Marrakech,Junior,15884.0
137,SAL0137,frontend developer,5.8,Masters,Enterprise,Marrakech,Mid,26848.0
138,SAL0138,backend developer,3.2,Bachelors,Mid,Tangier,Junior,12401.0
139,SAL0139,ml engineer,0.0,Bachelors,Mid,Remote,Mid,23855.0
140,SAL0140,backend developer,3.2,Bachelors,Mid,Remote,Mid,17056.0
141,SAL0141,ml engineer,0.6,Bachelors,Small,Rabat,Mid,21348.0
142,SAL0142,data scientist,6.2,Bachelors,Mid,Remote,Mid,25206.0
143,SAL0143,data analyst,5.5,Masters,Mid,Tangier,Senior,25526.0
144,SAL0144,backend developer,1.5,Bachelors,Mid,Casablanca,Mid,22179.0
145,SAL0145,qa engineer,5.6,No Degree,Small,Fes,Mid,15417.0
146,SAL0146,backend developer,7.3,Bachelors,Enterprise,Tangier,Mid,NaN
147,SAL0147,devops engineer,3.6,Bachelors,Mid,Remote,Senior,36460.0
148,SAL0148,data analyst,8.5,Bachelors,Mid,Remote,Senior,27563.0
149,SAL0149,devops engineer,8.2,No Degree,Mid,Casablanca,Mid,24884.0
150,SAL0150,product manager,5.2,Masters,Enterprise,Rabat,Senior,50735.0
151,SAL0151,backend developer,1.0,Bachelors,Mid,Agadir,Junior,11347.0
152,SAL0152,devops engineer,6.6,Bachelors,Large,Casablanca,Senior,42889.0
153,SAL0153,backend developer,4.3,Masters,Small,Agadir,Mid,21721.0
154,SAL0154,ml engineer,1.8,Masters,Mid,Tangier,Mid,23314.0
155,SAL0155,data scientist,3.1,Bachelors,Mid,Fes,Junior,12345.0
156,SAL0156,frontend developer,7.5,Bachelors,Large,Casablanca,Mid,25317.0
157,SAL0157,devops engineer,2.6,Bachelors,Mid,Remote,Senior,33298.0
158,SAL0158,devops engineer,10.8,Bachelors,Mid,Casablanca,Lead,51195.0
159,SAL0159,frontend developer,2.8,Bachelors,Small,Agadir,Mid,16524.0
160,SAL0160,data scientist,NaN,Bachelors,Large,Marrakech,Junior,18071.0
161,SAL0161,data analyst,2.5,Masters,Large,Marrakech,Mid,15758.0
162,SAL0162,backend developer,5.8,Bachelors,Mid,Remote,Mid,21979.0
163,SAL0163,backend developer,0.9,Bachelors,Small,Remote,Senior,NaN
164,SAL0164,backend developer,6.2,Bachelors,Mid,Marrakech,Junior,14779.0
165,SAL0165,qa engineer,3.9,Bachelors,Small,Rabat,Mid,17252.0
166,SAL0166,data analyst,3.0,PhD,Small,Tangier,Junior,8461.0
167,SAL0167,data analyst,5.2,No Degree,Small,Casablanca,Senior,20727.0
168,SAL0168,ml engineer,5.4,Bachelors,Enterprise,Marrakech,Senior,44818.0
169,SAL0169,data scientist,4.3,PhD,Mid,Rabat,Mid,28164.0
170,SAL0170,product manager,8.4,Masters,Small,Agadir,Senior,36418.0
171,SAL0171,bi engineer,1.4,No Degree,Mid,Casablanca,Intern,4367.0
172,SAL0172,frontend developer,2.0,Bachelors,Mid,Casablanca,Mid,18665.0
173,SAL0173,backend developer,5.4,Bachelors,Large,Marrakech,Senior,36042.0
174,SAL0174,data engineer,8.2,Bachelors,Large,Rabat,Mid,26748.0
175,SAL0175,devops engineer,10.3,Bachelors,Mid,Tangier,Intern,15583.0
176,SAL0176,data engineer,4.1,Bachelors,Large,Tangier,Intern,5049.0
177,SAL0177,data analyst,4.3,Bachelors,Large,Casablanca,Junior,12742.0
178,SAL0178,data scientist,0.0,PhD,Mid,Marrakech,Mid,24261.0
179,SAL0179,qa engineer,4.1,Bachelors,Large,Agadir,Mid,17081.0
180,SAL0180,frontend developer,5.9,Bachelors,Large,Fes,Senior,32724.0
181,SAL0181,data scientist,3.4,Bachelors,Small,Tangier,Senior,32964.0
182,SAL0182,devops engineer,3.1,No Degree,Mid,Marrakech,Senior,30150.0
183,SAL0183,devops engineer,4.7,Bachelors,Mid,Casablanca,Senior,39715.0
184,SAL0184,frontend developer,3.3,Masters,Large,Fes,Junior,9959.0
185,SAL0185,bi engineer,5.8,Bachelors,Large,Fes,Junior,11823.0
186,SAL0186,backend developer,4.8,Bachelors,Small,Tangier,Junior,15749.0
187,SAL0187,data analyst,4.5,Bachelors,Mid,Rabat,Lead,29715.0
188,SAL0188,data scientist,1.3,No Degree,Mid,Casablanca,Junior,NaN
189,SAL0189,data engineer,4.5,Bachelors,Large,Tangier,Junior,16596.0
190,SAL0190,ml engineer,NaN,Bachelors,Large,Agadir,Junior,18327.0
191,SAL0191,product manager,3.8,Masters,Large,Casablanca,Senior,45889.0
192,SAL0192,frontend developer,0.0,Bachelors,Mid,Marrakech,Junior,7623.0
193,SAL0193,frontend developer,4.3,Bachelors,Small,Rabat,Junior,12103.0
194,SAL0194,frontend developer,5.4,PhD,Mid,Marrakech,Junior,14975.0
195,SAL0195,frontend developer,4.9,No Degree,Mid,Rabat,Mid,20204.0
196,SAL0196,data scientist,2.6,Masters,Enterprise,Casablanca,Intern,9373.0
197,SAL0197,backend developer,1.0,Masters,Enterprise,Casablanca,Senior,43217.0
198,SAL0198,backend developer,4.6,Bachelors,Small,Remote,Mid,20155.0
199,SAL0199,data scientist,7.9,Bachelors,Enterprise,Tangier,Mid,32349.0

In [ ]:
df_lower_role.columns

Index(['id', 'role', 'years_experience', 'degree', 'company_size', 'location',
       'level', 'salary_mad'],
      dtype='object')

In [ ]:
df_lower_role['degree'].value_counts()

degree
Bachelors    111
Masters       57
No Degree     15
PhD           14
masters        2
bachelors      1
Name: count, dtype: int64

In [ ]:
df_lower_degree = df_lower_role.copy()
df_lower_degree['degree'] = df_lower_degree['degree'].str.lower()
df_lower_degree['degree'].value_counts()

degree
bachelors    112
masters       59
no degree     15
phd           14
Name: count, dtype: int64

In [ ]:
df_lower_degree.head()

,id,role,years_experience,degree,company_size,location,level,salary_mad
0,SAL0000,bi engineer,8.2,phd,Mid,Casablanca,Junior,17565.0
1,SAL0001,product manager,4.6,bachelors,Mid,Fes,Junior,16229.0
2,SAL0002,data scientist,2.8,bachelors,Small,Casablanca,Mid,22753.0
3,SAL0003,data analyst,4.5,masters,Small,Rabat,Mid,14296.0
4,SAL0004,qa engineer,6.7,phd,Mid,Tangier,Intern,10191.0

In [ ]:
df_lower_degree['location'].value_counts()

location
Marrakech     36
Tangier       33
Casablanca    32
Remote        28
Rabat         27
Fes           21
Agadir        20
fes            2
rabat          1
Name: count, dtype: int64

In [ ]:
df_lower_location = df_lower_degree.copy()
df_lower_degree['location'] = df_lower_degree['location'].str.lower()
df_lower_degree['location'].value_counts()

location
marrakech     36
tangier       33
casablanca    32
remote        28
rabat         28
fes           23
agadir        20
Name: count, dtype: int64

In [ ]:
df_lower_location.columns

Index(['id', 'role', 'years_experience', 'degree', 'company_size', 'location',
       'level', 'salary_mad'],
      dtype='object')

In [ ]:
df_lower_location['company_size'].value_counts()

company_size
Mid           78
Small         53
Large         41
Enterprise    25
mid            3
Name: count, dtype: int64

In [ ]:
df_lower_company_size = df_lower_location.copy()
df_lower_company_size['company_size'] = df_lower_company_size['company_size'].str.lower()
df_lower_company_size['company_size'].value_counts()

company_size
mid           81
small         53
large         41
enterprise    25
Name: count, dtype: int64

In [ ]:
df_lower_company_size.columns

Index(['id', 'role', 'years_experience', 'degree', 'company_size', 'location',
       'level', 'salary_mad'],
      dtype='object')

In [ ]:
df_lower_company_size['level'].value_counts()

level
Mid       77
Junior    61
Senior    38
Lead      11
Intern    10
junior     2
mid        1
Name: count, dtype: int64

In [ ]:
df_lower_level = df_lower_company_size.copy()
df_lower_level['level'] = df_lower_level['level'].str.lower()
df_lower_level['level'].value_counts()

level
mid       78
junior    63
senior    38
lead      11
intern    10
Name: count, dtype: int64

In [ ]:
df_lower_level.columns

Index(['id', 'role', 'years_experience', 'degree', 'company_size', 'location',
       'level', 'salary_mad'],
      dtype='object')

In [ ]:
df_lower_level.isnull().sum()

id                  0
role                0
years_experience    5
degree              0
company_size        0
location            0
level               0
salary_mad          4
dtype: int64

In [ ]:
df_filled_years_experience = df_lower_level.copy()
df_filled_years_experience['years_experience'].fillna(df_filled_years_experience['years_experience'].mean(), inplace=True)
df_filled_years_experience.isnull().sum()

/tmp/ipython-input-2703345047.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_years_experience['years_experience'].fillna(df_filled_years_experience['years_experience'].mean(), inplace=True)

id                  0
role                0
years_experience    0
degree              0
company_size        0
location            0
level               0
salary_mad          4
dtype: int64

In [ ]:
df_filled_all = df_lower_level.copy()
df_filled_all['years_experience'].fillna(df_filled_all['years_experience'].mean(), inplace=True)
df_filled_all['salary_mad'].fillna(df_filled_all['salary_mad'].mean(), inplace=True)
df_filled_all.isnull().sum()

/tmp/ipython-input-1150977754.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_all['years_experience'].fillna(df_filled_all['years_experience'].mean(), inplace=True)
/tmp/ipython-input-1150977754.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled_all['salary_mad'].fillna(df_filled_all['salary_mad'].mean(), inplace=True)

id                  0
role                0
years_experience    0
degree              0
company_size        0
location            0
level               0
salary_mad          0
dtype: int64

In [ ]:
df_filled_all.shape

(200, 8)

In [ ]:
df_filled_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                200 non-null    object
 1   role              200 non-null    object
 2   years_experience  200 non-null    float64
 3   degree            200 non-null    object
 4   company_size      200 non-null    object
 5   location          200 non-null    object
 6   level             200 non-null    object
 7   salary_mad        200 non-null    float64
dtypes: float64(2), object(6)
memory usage: 12.6+ KB

In [ ]:
df_filled_all.head()

,id,role,years_experience,degree,company_size,location,level,salary_mad
0,SAL0000,bi engineer,8.2,phd,mid,casablanca,junior,17565.0
1,SAL0001,product manager,4.6,bachelors,mid,fes,junior,16229.0
2,SAL0002,data scientist,2.8,bachelors,small,casablanca,mid,22753.0
3,SAL0003,data analyst,4.5,masters,small,rabat,mid,14296.0
4,SAL0004,qa engineer,6.7,phd,mid,tangier,intern,10191.0

In [ ]:
df_cleaned = df_filled_all.copy()
df_cleaned = df_cleaned.drop('id', axis=1)
display(df_cleaned.head())

,role,years_experience,degree,company_size,location,level,salary_mad
0,bi engineer,8.2,phd,mid,casablanca,junior,17565.0
1,product manager,4.6,bachelors,mid,fes,junior,16229.0
2,data scientist,2.8,bachelors,small,casablanca,mid,22753.0
3,data analyst,4.5,masters,small,rabat,mid,14296.0
4,qa engineer,6.7,phd,mid,tangier,intern,10191.0

In [ ]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   role              200 non-null    object
 1   years_experience  200 non-null    float64
 2   degree            200 non-null    object
 3   company_size      200 non-null    object
 4   location          200 non-null    object
 5   level             200 non-null    object
 6   salary_mad        200 non-null    float64
dtypes: float64(2), object(5)
memory usage: 11.1+ KB

In [ ]:
object_columns = df_cleaned.select_dtypes(include='object').columns
print(object_columns)

Index(['role', 'degree', 'company_size', 'location', 'level'], dtype='object')

In [ ]:
df_one_hot_encoded = pd.get_dummies(df_cleaned, columns=object_columns, drop_first=True)
display(df_one_hot_encoded.head())

,years_experience,salary_mad,role_bi engineer,role_data analyst,role_data engineer,role_data scientist,role_devops engineer,role_frontend developer,role_ml engineer,role_product manager,...,location_casablanca,location_fes,location_marrakech,location_rabat,location_remote,location_tangier,level_junior,level_lead,level_mid,level_senior
0,8.2,17565.0,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,False
1,4.6,16229.0,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,True,False,False,False
2,2.8,22753.0,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
3,4.5,14296.0,False,True,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
4,6.7,10191.0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [ ]:
df_one_hot_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   years_experience         200 non-null    float64
 1   salary_mad               200 non-null    float64
 2   role_bi engineer         200 non-null    bool
 3   role_data analyst        200 non-null    bool
 4   role_data engineer       200 non-null    bool
 5   role_data scientist      200 non-null    bool
 6   role_devops engineer     200 non-null    bool
 7   role_frontend developer  200 non-null    bool
 8   role_ml engineer         200 non-null    bool
 9   role_product manager     200 non-null    bool
 10  role_qa engineer         200 non-null    bool
 11  degree_masters           200 non-null    bool
 12  degree_no degree         200 non-null    bool
 13  degree_phd               200 non-null    bool
 14  company_size_large       200 non-null    bool
 15  company_size_mid         200 non-null    bool
 16  company_size_small       200 non-null    bool
 17  location_casablanca      200 non-null    bool
 18  location_fes             200 non-null    bool
 19  location_marrakech       200 non-null    bool
 20  location_rabat           200 non-null    bool
 21  location_remote          200 non-null    bool
 22  location_tangier         200 non-null    bool
 23  level_junior             200 non-null    bool
 24  level_lead               200 non-null    bool
 25  level_mid                200 non-null    bool
 26  level_senior             200 non-null    bool
dtypes: bool(25), float64(2)
memory usage: 8.1 KB

In [ ]:
from sklearn.model_selection import train_test_split

X = df_one_hot_encoded.drop('salary_mad', axis=1)
y = df_one_hot_encoded['salary_mad']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (160, 26)
Shape of X_test: (40, 26)
Shape of y_train: (160,)
Shape of y_test: (40,)

In [ ]:
# Import LinearRegression.
from sklearn.linear_model import LinearRegression


# Instantiate linear regression model.
model = LinearRegression()

In [ ]:
# Fit the model to the training data.
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
# Make predictions on the testing data.
y_pred = model.predict(X_test)

In [ ]:
# Import metrics.
from sklearn.metrics import mean_squared_error, r2_score


# Calculate and print R^2 score.
r2 = r2_score(y_test, y_pred)
print(f"R-squared: {r2:.4f}")

R-squared: 0.9400

In [ ]:
import pickle

# Define the filename for your model
model_filename = 'linear_regression_model.pkl'

# Save the trained model to the file
with open(model_filename, 'wb') as file:
    pickle.dump(model, file)

print(f"Model saved to {model_filename}")

Model saved to linear_regression_model.pkl

In [92]:
encoder_info = {
    "columns": df_one_hot_encoded.drop(columns=["salary_mad"]).columns.tolist(),
    "categorical": object_columns
}
print(encoder_info)
with open("salary_encoder.pkl", "wb") as f:
    pickle.dump(encoder_info, f)

{'columns': ['years_experience', 'role_bi engineer', 'role_data analyst', 'role_data engineer', 'role_data scientist', 'role_devops engineer', 'role_frontend developer', 'role_ml engineer', 'role_product manager', 'role_qa engineer', 'degree_masters', 'degree_no degree', 'degree_phd', 'company_size_large', 'company_size_mid', 'company_size_small', 'location_casablanca', 'location_fes', 'location_marrakech', 'location_rabat', 'location_remote', 'location_tangier', 'level_junior', 'level_lead', 'level_mid', 'level_senior'], 'categorical': Index(['role', 'degree', 'company_size', 'location', 'level'], dtype='object')}

test the pkl files

In [97]:
# Load model
with open("linear_regression_model.pkl", "rb") as f:
    model = pickle.load(f)

# Load encoder info (columns)
with open("salary_encoder.pkl", "rb") as f:
    encoder_info = pickle.load(f)

expected_cols = encoder_info["columns"]

# Incoming JSON
data = {
  "years_experience": 8.2,
  "role": "bi engineer",
  "degree": "phd",
  "company_size": "mid",
  "location": "casablanca",
  "level": "junior"
}

# Convert to DataFrame
import pandas as pd
row = pd.DataFrame([data])

# One-hot encode with same categories
row_encoded = pd.get_dummies(row, columns=encoder_info["categorical"], drop_first=True)

# Add missing columns (set them = 0)
for col in expected_cols:
    if col not in row_encoded:
        row_encoded[col] = 0

# Reorder columns to match training
row_encoded = row_encoded[expected_cols]

# Predict
pred = model.predict(row_encoded)[0]
print("Predicted salary MAD:", pred)

Predicted salary MAD: 12278.355448900702